<div class="menu-wrapper" data-th-fragment="menuDiv(activeTab)">
    <div class="menu">
        <div class="menu-item" data-th-classappend="${activeTab == 'index'} ? active : ''">
            <a href="/">Главная</a>
        </div>
        <div class="menu-item" data-th-classappend="${activeTab == 'catalog'} ? active : ''">
            <a href="/catalog">Каталог</a>
        </div>
        <div class="menu-item" data-th-classappend="${activeTab == 'cart'} ? active : ''">
            <a href="/cart">Корзина</a>
        </div>
        <div class="menu-item" data-th-classappend="${activeTab == 'statistics'} ? active : ''">
            <a href="/statistics">Статистика</a>
        </div>
        <div class="menu-item" data-th-classappend="${activeTab == 'contacts'} ? active : ''">
            <a href="/contacts">Контакты</a>
        </div>
    </div>
</div>